@charset "utf-8";

label {
    color: #b5f5ff;
}

input[type=text]:valid {
    box-shadow: 0px 0px 2px green;
    outline: 1px solid green;
}

input[type=text]:invalid {
    box-shadow: 0px 0px 5px red;
    outline: 1px solid red;
}